.box {
    width: 100vw;

    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.box-content {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;
    padding: 20px;
}

.box-content h2 {
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.box-content input {
    padding: 15px;
    margin-top: 10px;
    border: 3px solid #F22E52;
    border-radius: 15px;
}

.box-content .botao {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

.box-content .botao div {
    margin-right: 2%;
}

.box-content .botao div h3 {
    color: white;
    font-weight: bold;
}

.box-content .botao button {
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #1BF28E;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.box-content .botao button:hover {
    background-color: #14be6f;
}

.products {
    padding: 2rem;
}

.card {
    border-bottom: 1px solid black;
    display: flex;
    margin-bottom: 5rem;
    padding: 10px;
}

.card-img {
    display: flex;
    flex-direction: column;
    text-align: center;

}


.card-img button {
    padding: 20px;
    background-color: #1BF28E;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.card-img img {
    width: 200px;
    height: 180px;
}

.card-img p {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    background-color: white;
}


.card-content {
    margin-left: 1.5rem;
    color: white;
}

.card-content h2 {
    font-size: 32px;
    font-weight: bold;
}

.card-content a {
    color: orange;
    text-decoration: none;
    transition: 0.2s;
}

.card-content a:hover {
    color: yellow;
}

.card-content p {
    font-size: 18px;
    margin-top: 20px;
}

.restaurant-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}




.logo img {

    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 30px;

}




.nome h2 {

    color: white;
    font-size: 30px;
    padding: 30px;

}